In [116]:

from google.colab import files
 
 
uploaded = files.upload()

Saving Iris.csv to Iris.csv

In [117]:
import pandas as pd
import numpy as np
import seaborn as sns

In [118]:
df = pd.read_csv("Iris.csv")

In [119]:
df.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [120]:
df.tail(5)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [121]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [122]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [123]:
df.size

900

In [124]:
df.shape

(150, 6)

In [125]:
df.max()

Id                          150
SepalLengthCm               7.9
SepalWidthCm                4.4
PetalLengthCm               6.9
PetalWidthCm                2.5
Species          Iris-virginica
dtype: object

In [126]:
df.count()

Id               150
SepalLengthCm    150
SepalWidthCm     150
PetalLengthCm    150
PetalWidthCm     150
Species          150
dtype: int64

In [127]:
df.min()

Id                         1
SepalLengthCm            4.3
SepalWidthCm             2.0
PetalLengthCm            1.0
PetalWidthCm             0.1
Species          Iris-setosa
dtype: object

In [128]:
df.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [129]:
df[df.Species == "Iris-setosa"].mean()

<ipython-input-129-e455e1835b5c>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df[df.Species == "Iris-setosa"].mean()

Id               25.500
SepalLengthCm     5.006
SepalWidthCm      3.418
PetalLengthCm     1.464
PetalWidthCm      0.244
dtype: float64

In [130]:
df[df.Species == "Iris-versicolor"].mean()

<ipython-input-130-900cd280d3d4>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df[df.Species == "Iris-versicolor"].mean()

Id               75.500
SepalLengthCm     5.936
SepalWidthCm      2.770
PetalLengthCm     4.260
PetalWidthCm      1.326
dtype: float64

In [131]:
df[df.Species == "Iris-virginica"].mean()

<ipython-input-131-a8f3c9245a6c>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df[df.Species == "Iris-virginica"].mean()

Id               125.500
SepalLengthCm      6.588
SepalWidthCm       2.974
PetalLengthCm      5.552
PetalWidthCm       2.026
dtype: float64

In [132]:
df[df.Species == "Iris-setosa"].median()

<ipython-input-132-75ebaedd3910>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df[df.Species == "Iris-setosa"].median()

Id               25.5
SepalLengthCm     5.0
SepalWidthCm      3.4
PetalLengthCm     1.5
PetalWidthCm      0.2
dtype: float64

In [133]:
df[df.Species == "Iris-versicolor"].median()

<ipython-input-133-fdec3755e29c>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df[df.Species == "Iris-versicolor"].median()

Id               75.50
SepalLengthCm     5.90
SepalWidthCm      2.80
PetalLengthCm     4.35
PetalWidthCm      1.30
dtype: float64

In [134]:
df[df.Species == "Iris-virginica"].median()

<ipython-input-134-ecf02fe61bd0>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df[df.Species == "Iris-virginica"].median()

Id               125.50
SepalLengthCm      6.50
SepalWidthCm       3.00
PetalLengthCm      5.55
PetalWidthCm       2.00
dtype: float64

In [135]:
df[df.Species == "Iris-setosa"].mode()

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.0           3.4            1.5           0.2  Iris-setosa
1    2            5.1           NaN            NaN           NaN          NaN
2    3            NaN           NaN            NaN           NaN          NaN
3    4            NaN           NaN            NaN           NaN          NaN
4    5            NaN           NaN            NaN           NaN          NaN
5    6            NaN           NaN            NaN           NaN          NaN
6    7            NaN           NaN            NaN           NaN          NaN
7    8            NaN           NaN            NaN           NaN          NaN
8    9            NaN           NaN            NaN           NaN          NaN
9   10            NaN           NaN            NaN           NaN          NaN
10  11            NaN           NaN            NaN           NaN          NaN
11  12            NaN           NaN            NaN           NaN          NaN
12  13            NaN           NaN            NaN           NaN          NaN
13  14            NaN           NaN            NaN           NaN          NaN
14  15            NaN           NaN            NaN           NaN          NaN
15  16            NaN           NaN            NaN           NaN          NaN
16  17            NaN           NaN            NaN           NaN          NaN
17  18            NaN           NaN            NaN           NaN          NaN
18  19            NaN           NaN            NaN           NaN          NaN
19  20            NaN           NaN            NaN           NaN          NaN
20  21            NaN           NaN            NaN           NaN          NaN
21  22            NaN           NaN            NaN           NaN          NaN
22  23            NaN           NaN            NaN           NaN          NaN
23  24            NaN           NaN            NaN           NaN          NaN
24  25            NaN           NaN            NaN           NaN          NaN
25  26            NaN           NaN            NaN           NaN          NaN
26  27            NaN           NaN            NaN           NaN          NaN
27  28            NaN           NaN            NaN           NaN          NaN
28  29            NaN           NaN            NaN           NaN          NaN
29  30            NaN           NaN            NaN           NaN          NaN
30  31            NaN           NaN            NaN           NaN          NaN
31  32            NaN           NaN            NaN           NaN          NaN
32  33            NaN           NaN            NaN           NaN          NaN
33  34            NaN           NaN            NaN           NaN          NaN
34  35            NaN           NaN            NaN           NaN          NaN
35  36            NaN           NaN            NaN           NaN          NaN
36  37            NaN           NaN            NaN           NaN          NaN
37  38            NaN           NaN            NaN           NaN          NaN
38  39            NaN           NaN            NaN           NaN          NaN
39  40            NaN           NaN            NaN           NaN          NaN
40  41            NaN           NaN            NaN           NaN          NaN
41  42            NaN           NaN            NaN           NaN          NaN
42  43            NaN           NaN            NaN           NaN          NaN
43  44            NaN           NaN            NaN           NaN          NaN
44  45            NaN           NaN            NaN           NaN          NaN
45  46            NaN           NaN            NaN           NaN          NaN
46  47            NaN           NaN            NaN           NaN          NaN
47  48            NaN           NaN            NaN           NaN          NaN
48  49            NaN           NaN            NaN           NaN          NaN
49  50            NaN           NaN            NaN           NaN          NaN

In [136]:
df[df.Species == "Iris-setosa"].std()

<ipython-input-136-69ad8e1ee191>:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df[df.Species == "Iris-setosa"].std()

Id               14.577380
SepalLengthCm     0.352490
SepalWidthCm      0.381024
PetalLengthCm     0.173511
PetalWidthCm      0.107210
dtype: float64

In [137]:
df[df.Species == "Iris-setosa"].max()

Id                        50
SepalLengthCm            5.8
SepalWidthCm             4.4
PetalLengthCm            1.9
PetalWidthCm             0.6
Species          Iris-setosa
dtype: object

In [138]:
df[df.Species == "Iris-virginica"].min()

Id                          101
SepalLengthCm               4.9
SepalWidthCm                2.2
PetalLengthCm               4.5
PetalWidthCm                1.4
Species          Iris-virginica
dtype: object

In [139]:
df[df.Species == "Iris-versicolor"].max()

Id                           100
SepalLengthCm                7.0
SepalWidthCm                 3.4
PetalLengthCm                5.1
PetalWidthCm                 1.8
Species          Iris-versicolor
dtype: object